.category ul li {
    list-style: none;
    line-height: 2em;
    letter-spacing: 0.15em;
}

.category ul li i {
    margin-right: 1em;
    font-size: 20px;
}

.category ul {
    margin: 2.5em auto;
    padding-left: 2em;
}

.category ul li a {
    font-size: 20px;
    font-weight: 400;
    font-family: K2D, sans-serif;
    text-decoration: blink;
}

.category ul li a[data-v-a3ae0a90]:hover {
    color: currentColor;
    transition: 0.5s;
}

.col-md-4.profile_avatar::after {
    position: absolute;
    content: '';
    width: 85px;
    height: 85px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: -1;
    top: 15%;
    left: 25%;
}

.col-md-4.profile_avatar img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 15px;
    left: 15px;
}

.col-md-4.profile_avatar {
    position: relative;
}

.col-md-4.profile_avatar::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3a92ff;
    z-index: 1;
    border-radius: 50%;
    top: 100%;
    left: 30%;
    border: solid 1px black;
}

.profile {
    height: 125px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    border-bottom: solid 1px;
    width: 90%;
}

.profile_name.col-md-8 {
    margin: auto 0;
    text-align: center;
    letter-spacing: 2px;
}