.sticky {
    background-color: #336077;
    font-size: 16px;
}
.navbar-brand {
    position: relative;
}
#logo {
    font-weight: 1000;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
}
#logo i {
    font-size: 60px;
}
.list-group {
    margin-left: 10px;
    margin-right: 10px;
}
#option {
    margin-left: 10px;
    margin-right: 10px;
}
#input {
    width: 250px;
}
.user {
    margin-right: 20px;
    margin-left: 20px;
}
#user {
    color: #fff;
    margin-right: 5px;
}
#avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.routerLink {
    color: black;
    text-decoration: none;
} 
.routerLink i {
    font-size: 20px;
}
.containerPage {
    position: relative;
}
.zIndexBody {
    position: absolute;
    z-index: 1;
}
#zIndexMenu {
    z-index: 1001;    
    position: sticky;    
    top: 0;
    width: 100%
}