.form_input {
    width: 500px;
}

.containerPage {
    font-family: K2D, sans-serif;
}

.logo {
    font-size: 2em;
}

a.navbar-brand.logo {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.5em;
}

form.form_input.form-inline input {
    width: 70%;
}

ul.navbar-nav.ml-auto a.navbar-brand {
    font-size: 20px;
    padding: 0 1em;
}